* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.header {
    /* border: 1px solid black; */
    display: flex;
    padding: 0.8rem;
    background: linear-gradient(to right, #1E9FE1, #1bb7cc)
}
.header--title {
    text-shadow: 0px 0px 2px black;
}
.header--image {
    width: 2rem;
    margin-right: 0.8rem;
}