* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 0.9rem;
    background: linear-gradient(to right, #1E9FE1, #1bb7cc);
    color: white;
}
.header--title {
    font-size: 2rem;
}
.header--image {
    width: 4rem;
    margin-right: 0.8rem;
}